.App {
  text-align: center;
}

body {
  font-family: "nanumsquare";
}

.nav_bar {
  display: flex;
  color: white;
  background-color: black;
  width: 100%;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.list {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}

.publish {
  margin-top: 30px;
  margin-bottom: 30px;
}

.publish input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  border: 1px solid gray;
}

.publish button {
  display: block;
  margin: auto;
  margin-top: 10px;
}
